@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #5b2d15;
  background: #efe2d2;
  font-size: 1rem;
}
.image_gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
}

.image_gallery .wide {
  grid-column: span 2;
}
.image_gallery .tall {
  grid-row: span 0;
}
.image_gallery .big {
  grid-column: span 2;
  grid-row: 2;
}

canvas {
  width: 100vw;
  position: fixed;
  z-index: -1;
}
.pt-10 {
  padding-top: 160px;
}
.py-10 {
  padding-top: 160px;
  position: sticky;
}