
#root {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family:  'Rubik', sans-serif;
  /* width: 1920px;
  height: 5917px;*/
  background-color: #EFE2D2 ;
  /* background-image: linear-gradient(0deg, #EFE2D2 0%, #EFE2D2 100%); */
}


/* .root {
  height: 100%;
  font-family: sans-serif;
  background-color: #e5e5e5;
  flex-basis: 100%;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
} */
