@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins&display=swap");


.header-nav{
    position: absolute;
    left: 120px;
    top: 60px;
    gap: 48px;
    left: 7%;
    top: 0.75%;
    gap: 15%;
    width: min-content;
    height: min-content;
    align-items: center;
    background: transparent !important;
    transition: all 0.5s ease;
    text-align:center;
    align-items: center;
    display: flex;  
    /* width: Hug (140px);
    height: Hug (84px); */
    width: Hug (466px);
    height: Hug (84px);


    .brand-name{
        /* position: absolute; */
        /* left: 120px;
        top: 60px; */
        color: #572E10;
        font-size: 48px;
        font-size: 200%;
        font-family: Pacifico;
        font-weight: 400;
        word-wrap: break-word;
        /* padding-right: 40px; */

        /* color: #572E10;
        font-family: Pacifico;
        font-size: 48px;
        font-weight: 400;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: left; */

        transition: all 0.5s ease;
        &:hover{
            color: #af774e !important;
            transition: color 0.3s ease-in-out;
        }
        -webkit-font-smoothing: antialiased;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        display: inline-block;
    }
    .line-1 {
        width: 2px;
        max-width: 100%;
        /* height: 24px; */
        max-height: 100%;
        overflow: visible;
      }
    .px-1{
        display:inline;
        /* top: 60px; */
        color: #572e11;
        font-size: 32px;
        font-size: 110%;
        font-weight: 500;
        font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
            "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        flex-direction: column;
        transition: all 0.5s ease;
        &:hover{
            color: #af774e !important;
            transition: color 0.3s ease-in-out;
        }
    }
    .px-2{
        /* top: 60px; */
        color: #572e11;
        font-size: 32px;
        font-size: 110%;
        font-weight: 500;
        font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
            "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        flex-direction: column;
    }
    /* .nav-link{
        background: #572E11;

        font-family: Poppins;
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;

        display: flex;
        justify-content: center;
        align-items: center;
        color:white !important;
        font-size: 17px;
        font-family: 'Courier Prime', monospace !important;
        transition: all 0.5s ease;
        &:hover,&:focus{
            color: #29a19c !important;
            transition: color 0.3s ease-in-out;
        }
        .button{
            color:#29a19c;
            border-color: #29a19c;
            &:hover,&:focus,&:active{
                outline:none !important;
                box-shadow: none !important;
                background-color: transparent !important;
                color:#63c9c6 !important;
                border-color: #63c9c6 !important;
                transition: all 0.3 ease-in-out;
            }
        }
    }  */
}

.Frame3 {
    width: 45%; /*956*/
    height: 18%; /*629*/
    padding: 24px;
    left: 50%; /*964*/
    top: 0;
    position: absolute;
    border-radius: 48px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.Screenshot20230912At15141 {
    align-self: stretch;
    height: 629px;
    border-radius: 40px;
}

.Frame12 {
    align-self: stretch;
    flex: 1 1 0;
    padding: 78px 64px;
    padding: 19% 15%;
    background: #E8CDB2;
    border-radius: 40px;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
}

.Frame17, .Frame13, .Frame14, .Frame15, .Frame16 {
    align-self: stretch;
    justify-content: space-between;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
}

.PacificoText {
    margin-bottom: 0;
    text-align: right;
    color: #572E10;
    font-size: 64px;
    font-size: 100%;
    font-family: 'Pacifico';
    font-weight: 400;
    line-height: 0;
    word-wrap: break-word;
}

.PacificoLargeText {
    text-align: right;
    color: #572E10;
    font-size: 128px;
    font-size: 100%;
    font-family: 'Pacifico';
    font-weight: 400;
    line-height: 154.37px;
    word-wrap: break-word;
}

.Days, .Seconds {
    color: #572E11;
    font-size: 24px;
    font-size: 100%;
    font-family: 'Poppins';
    font-weight: 600;
    word-wrap: break-word;
}

.Seconds {
    font-size: 32px;
    font-size: 100%;
}


.Frame10 {
    width: 1120px;
    width: 19%;
    height: min-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    /* gap: 10%; */
    display: inline-flex;
    position: absolute;
    left: 120px;
    left: 7%;
    top: 300px;
    top: 5%;
}

.Frame9, .Frame8, .Frame11 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.Celebrating {
    color: #E6B1AB;
    font-size: 64px;
    font-family: 'Poppins';
    font-weight: 900;
    word-wrap: break-word;
}

.Frame8 {
    align-items: flex-end;
}

.MinhAnh, .GiaKhiem {
    text-align: right;
    font-size: 96px;
    font-family: 'Pacifico';
    font-weight: 400;
    word-wrap: break-word;
}

.MinhAnh {
    color: #572E10;
    line-height: 0.3;
}

.GiaKhiem {
    color: #BD571C;
    line-height: 2;
}

.MarryingOnDec24th2023InHanoiVietnamFriendsAndFamiliesMustCome {
    width: 840px;
    color: #5B2D15;
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 1;
    word-wrap: break-word;
}

.Frame4 {
    padding: 24px 48px;
    background: #572E10;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.Rsvp {
    color: white;
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 900;
    word-wrap: break-word;
}

.ArrowRight {
    width: 24px;
    height: 24px;
    position: relative;
}

.Vector.horizontal {
    width: 14px;
    height: 0;
    left: 5px;
    top: 12px;
    position: absolute;
    border: 3px white solid;
}

.Vector.vertical {
    width: 7px;
    height: 14px;
    left: 12px;
    top: 5px;
    position: absolute;
    border: 3px white solid;
}



.Frame22 {
    position: absolute;
    left: 50%;
    top: 3620px;
    width: 1120px;
    height: min-content;
    flex-direction: column;
    align-items: center;
    gap: 92px;
    transform: translateX(-50%);
  }
.Q2 {
color: #572e10;
font-size: 96px;
line-height: 120.6%;
font-family: Pacifico, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
width: min-content;
height: min-content;
text-align: end;
align-items: end;
white-space: nowrap;
flex-direction: column;
}
.Frame93 {
    width: 1120px;
    height: min-content;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
.ThisIsAQuestion {
color: #e6b1ab;
font-size: 64px;
font-weight: 900;
font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
width: min-content;
height: min-content;
white-space: nowrap;
flex-direction: column;
}
.LoremIpsumIsSimplyDummyTextOfT {
color: #5b2d15;
font-size: 32px;
line-height: 120%;
font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
height: min-content;
align-self: stretch;
flex-direction: column;
}
.Frame102 {
width: 1120px;
height: min-content;
flex-direction: column;
align-items: center;
gap: 16px;
}
.ThisIsAQuestion2 {
color: #e6b1ab;
font-size: 64px;
font-weight: 900;
font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
width: min-content;
height: min-content;
white-space: nowrap;
flex-direction: column;
}
.LoremIpsumIsSimplyDummyTextOfT2 {
color: #5b2d15;
font-size: 32px;
line-height: 120%;
font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
height: min-content;
align-self: stretch;
flex-direction: column;
}
.Frame112 {
width: 1120px;
height: min-content;
flex-direction: column;
align-items: center;
gap: 16px;
}
/* .header-nav.sticky{
    background-color: white !important;
    transition: all 0.5s ease;
    padding-top: 2px;
    padding-bottom: 2px;
    .brand-name,.nav-link{
        color: black !important;
        transition: all 0.5s ease;
        &:hover{
            color: #29a19c !important;
            transition: color 0.3s ease;
        }
    }
    .nav-link{
        &:hover{
            background-color: rgba(0,0,0,0.1);
            transition: all 0.5s ease;
        }
        &:nth-last-child(1):hover{
            background-color: white !important;
            transition: all 0.5s ease;
        }
    }
} */


/* @tailwind base;
@tailwind components;
@tailwind utilities; */